STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
ADMIN_SECRET_KEY=
USDC_CONTRACT_ADDRESS=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
RWA_REGISTRY_CONTRACT=
COMPLIANCE_ENGINE_CONTRACT=
YIELD_DISTRIBUTOR_CONTRACT=
ORACLE_RECEIVER_CONTRACT=
